<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parikshit.ojass16" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/APP_ID" />

        <activity
            android:name="com.parikshit.ojass16.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.parikshit.ojass16.Activity2"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_2" >
        </activity>
        <activity
            android:name="com.parikshit.ojass16.Youtubeclass"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_2" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.parikshit.ojass16.Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
